<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP" />
    <add key="MA_DON_VI" value="GEN" />
    <add key="MA_HE_THONG" value="KT" />
    
    <!--Product Server infor-->
    <add key="SERVER" value="203.162.13.100" />
    <add key="INITIAL_DATABASE" value="QLTC_AnhThay" />
    <add key="FILL_DATABASE" value="QLTC_AnhThay" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <add key="INITIAL_USER" value="anhthayQLHV" />
    <add key="PASS_WORD" value="123@bcdE.@#_ATT" /> 

    
    <!--dev server infor-->
    <!--<add key="SERVER" value="DESKTOP-8FAG8IP" />
    <add key="INITIAL_DATABASE" value="QLTC_AnhThay" />
    <add key="FILL_DATABASE" value="QLTC_AnhThay" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="sa" /> 
  
    <add key="DESTINATION_NAME" value="G:\ShareImages\" />-->
  </appSettings>

  <!--<connectionStrings>
    <add name="AnhThayDbContext" connectionString="Data Source=.\sqlexpress2008r2;initial catalog=Attendance;Integrated Security=false;User Id=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
