<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <connectionStrings>
    <add name="AnhThayDbContext" connectionString="Data Source=DESKTOP-8FAG8IP;initial catalog=Attendance;Integrated Security=false;User Id=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
